@font-face {
    font-family: "Geist";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
  }

  * {
    box-sizing: border-box;
  }

  :root {
    --size: 20px;
  }

  body {
    min-height: 100vh;
    background: hsl(0 0% 6%);
    position: relative; /* Zorg ervoor dat de inhoud boven de achtergrond komt */
    z-index: 1;
  }

  .el {
    background: conic-gradient(from 180deg at 50% 70%,hsla(0,0%,98%,1) 0deg,#eec32d 72.0000010728836deg,#ec4b4b 144.0000021457672deg,#709ab9 216.00000858306885deg,#4dffbf 288.0000042915344deg,hsla(0,0%,98%,1) 1turn);
    width: 100%;
    height: 100%;
    mask:
      radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
      url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
    mask-composite: intersect;
    animation: flicker 20s infinite linear;
    position: fixed;  /* Zorg ervoor dat de achtergrond vast blijft staan */
    top: 0;  /* Zorg ervoor dat de achtergrond bovenaan begint */
    left: 0;  /* Zorg ervoor dat de achtergrond helemaal links begint */
    z-index: -1;
  }

  .container {
    position: relative; /* Zorg ervoor dat de inhoud zich goed aanpast boven de achtergrond */
    z-index: 2; /* De inhoud moet boven de achtergrond komen */
}

  @keyframes flicker {
    to {
      mask-position: 50% 50%, 0 50%;
    }
  }
/*--------------------------^background*/
.project-title {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
}

.project-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #9333ea, #f97316);
    box-shadow: 0 0 8px rgba(147, 51, 234, 0.8);
    transition: width 0.4s ease-out, left 0.4s ease-out;
}

.group:hover .project-title::after {
    width: 100%;
    left: 0;
}

.project-thumbnail {
    transition: transform 0.4s ease-in-out;
    transform: scale(1.1); /* Begin iets ingezoomd */
}

.group:hover .project-thumbnail {
    transform: scale(1); /* Zoom UIT op hover */
}


/*^styling schooldivs mainpage^*/


.animate-on-hover:hover .group-hover\\:animate-shake {
    animation: shake 0.3s ease-in-out infinite;
}

.fire-glow {
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fire-glow:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 69, 0, 1);
}
/*^voor dashboard^*/
